POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=restaurant_db
POSTGRES_PORT=5433
API_PORT=8000

DATABASE_URL=postgresql://postgres:postgres@db:5432/restaurant_db

# Security
SECRET_KEY=change_me_in_env_file
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
